@font-face{
    font-family: Spender;
    src: url(font/titulos-site/BigSpender-v1.otf);
}
@font-face {
    font-family: French;
    src: url(font/titulos-site/Frenchpress.otf);
}
@font-face{
    font-family: Basic;
    src: url(font/corpo_site/Basics-Texto.ttf);
}
@font-face{
    font-family: Asmundila;
    src: url(font/corpo_site/Asmudila-Titulo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
nav{
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #211424;
    padding: 10px;
}
.nav_titulo{
    font-family: Spender;
    color: #e1bee6;
}
.nav_barra{
    margin-right: 30px;
}
nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    font-family: French;
    text-decoration: none;
    font-size: 25px;
    color: #c090d6;
    padding-right: 20px;
}
nav ul li a:hover{
    color: #e1bee6;
    text-shadow: 0 0 5px #e1bee6, 0 0 10px #e1bee6, 0 0 20px #e1bee6, 0 0 30px #e1bee6;
}

nav ul li {
    display: inline;
    margin: 10px;
    font-size: 20px;
    transition: transform 0.2s, opacity 0.5s;
}
ul li a{
    transition: 0.4s;
    display: block;
}
ul:hover li a{
    opacity: 0.4;
}
nav ul li a:hover {
    opacity: 1;
    transform: scale(1.15);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    padding: 30px;
    width: 400px;
    height: 400px;
}
header h1{
    font-family: Spender;
    color: #2a1330;
    font-size: 50px;
    text-align: center;
    margin-left: 70px;
}
.corpo h2{
    padding: 20px;
    margin-top: 20px;
    font-family: Asmundila;
    color: #2a1330;
    font-size: 70px;
    text-align: center;
}
.corpo h3{
    font-family: French;
    color: #2a1330;
    font-size: 40px;
    text-align: center;
}
.corpo p,h4{
    font-family: Basic;
    color: #2a1330;
    font-size: 30px;
    text-align: center;
}
.flex_texto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_texto1, .flex_texto2{
    text-align: justify;
}
.texto{
    padding: 20px;
    padding-bottom: 40px;
}

.integrantes img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #3d0d49;
}

.integrantes{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.integrantes h3{
    color: #733383;
    font-size: 60px;
    text-align: center;
}
.integrantes h4{
    color: #2a1330;
    font-size: 35px;
    text-align: center;
}
.palestras .data {
    color: #a962bb;
    font-size: 30px;
    text-align: center;
}
.palestra1{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    padding:30px;
}
.palestra2{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 50px;
}
footer{
    background-color: #211424;
    color: #e1bee6;
    text-align: justify;
    padding: 20px;
    font-family: French;
    font-size: 30px;
}
footer h2{
    font-family: Basic;
}

footer a{
    color: #e1bee6;
    text-decoration: underline 0.5px #c268cc;
}

footer .copyright{
    font-size: 20px;
    font-style: italic;
}
